<tr>
  <td width="16%"></td>
  <td>
    <div>
      <ul id="portfolio">
        <li class="portfolio_var">
          <button class="portfolio_del">Delete</button>
          <div class="">
            <tr>
              <td width="18%"></td>
              <td width="82%">
                <ul>
                  <div><input name="portfolio_0" type="text" class="personal_input4" id="portfolio_0" />

                  <a id="ff" href="#"><img src="/assets/select.gif" /></a>
                  <%= file_field_tag 'portfolio_0', :class=>"hidden", :id=>"qq"  %>
    <input type="button" value="Add" class="portfolio_add submit_add" ></div>

            <script type="text/javascript">
              $('a#ff').on('click', function(e) {
                  e.preventDefault();
                  $("input#qq").trigger('click');
                  })
             </script>
                  
              </ul></td>
            </tr>
          </div>
        </li>

      </ul>
    </div>
  </td>
</tr>
<tr>
  <td>
  </td>
  <td>&nbsp;</td>
</tr>
<script type="text/javascript">
$('#portfolio').addInputArea();
</script>
