<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creek &amp; River</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<script src="/assets/smartrollover.js" type="text/javascript"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <p class="logo"><a href="/home/index"><img src="/assets/logo.png" /></a></p>
    <p class="top_img"><img src="/assets/top_img.png" /></p>
  </div>
  <div class="in_content">
    <div class="in_left">
      <div class="menu02">
        <ul>
          <li><a href="#"><img src="/assets/left_nav1.gif" /></a>
            <ul>
              <li><img src="/assets/menu01_on.gif" /></li>
              <li><a href="/users/personal"><img src="/assets/menu02_off.gif" /></a></li>
              <li><a href="/corporates/entrance"><img src="/assets/menu03_off.gif" /></a></li>
              <li><a href="/recruits/release"><img src="/assets/menu04_off.gif" /></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#"><img src="/assets/left_nav2.gif" /></a>
            <ul style="background:#6c060b;">
              <li><a href="/infomation/company"><img src="/assets/menu05_off.gif" /></a></li>
              <li><a href="/infomation/speake"><img src="/assets/menu06_off.gif" /></a></li>
              <li><a href="/infomation/group"><img src="/assets/menu07_off.gif" /></a></li>
              <li><a href="/infomation/contact"><img src="/assets/menu08_off.gif" /></a></li>
              <li><a href="/infomation/affirms"><img src="/assets/menu09_off.gif" /></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="content_list">
    <p class="top_title"><a href="/home/index">HOME</a> &nbsp;> &nbsp;服务介绍</p>
      <p class="content_ti"></p>
      <p class="content_timg"><img src="/assets/service_title.png" /></p>
      <div class="service_left02">
        <p style="padding-top:12px;">人类，有着无限可能的奥秘。<br />
          我们可以最大限度得为您引导出这种能力，<br />
        来为人类和社会的幸福做出贡献。</p>
        <div><p style="font-size:18px; padding-top:12px;">活用中国、日本和韩国的地理优势和人才特性</p>
        <p>将客户追求的创意只想和创意工作者滋生的经历紧密相连，提供唯有创意工作者代理才有的优质服务。<br />
          依托派遣或介绍这类形态，将创意工作者安排到企业或者项目之中。配合各类客户多方面的需求，提供创意管理，为创意者和生产合作伙伴提供更多的从事项目的机会。</p>
        </div>
      </div>
      <div class="service_right">
        <p>各种服务项目的入口如下，请按需选择对应窗口。<br />
          所有的服务不会产生任何费用。</p>
        <ul>
          <li><a href="/users/new"><img src="/assets/ico1.gif" /></a></li>
          <li><a href="/corporates/new"><img src="/assets/ico2.gif" /></a></li>
          <li><a href="/recruits/new"><img src="/assets/brown_b1.gif" /></a></li>
        </ul>
        <p class="service_tel"><img src="/assets/tel_img.png" /></p>
        <p><a href="mailto:info@crichina.com" target="_blank"><img src="/assets/email_img.png" /></a></p>
      </div>
    </div>
  </div>
  <p class="clear"></p>
  <div class="footer">
    <p class="footer_link"><a href="/infomation/contact">Contact us</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/infomation/affirms">Privacy Policy</a></p>
    <p class="copyright">COPYRIGHT CREEK&RIVER CO.,LTD. ALL RIGHTS RESERVED.　|　<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10203917号</a></p>
  </div>
</div>
</body>
</html>
