<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creek &amp; River</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<link href="/assets/perfect-scrollbar.css" rel="stylesheet">
<script src="/assets/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/assets/smartrollover.js" type="text/javascript"></script>
<script src="/assets/jquery.mousewheel.js"></script>
<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <p class="logo"><a href="/home/index"><img src="/assets/logo.png" /></a></p>
    <p class="top_img"><img src="/assets/top_img.png" /></p>
  </div>
  <div class="in_content">
    <div class="in_left">
      <div class="menu">
        <ul>
          <li><a href="#"><img src="/assets/left_nav1.gif" /></a>
            <ul>
              <li><a href="/home/service"><img src="/assets/menu01_off.gif" /></a></li>
              <li><a href="/users/personal"><img src="/assets/menu02_off.gif" /></a></li>
              <li><a href="/corporates/entrance"><img src="/assets/menu03_off.gif" /></a></li>
              <li><a href="/recruits/release"><img src="/assets/menu04_off.gif" /></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu02" style="margin-top:235px;">
        <ul>
          <li><a href="#"><img src="/assets/left_nav2.gif" /></a>
            <ul style="background:#6c060b; margin-top:2px;">
              <li><a href="/infomation/company"><img src="/assets/menu05_off.gif" /></a></li>
              <li><a href="/infomation/speake"><img src="/assets/menu06_off.gif" /></a></li>
              <li><a href="/infomation/group"><img src="/assets/menu07_off.gif" /></a></li>
              <li><a href="/infomation/contact"><img src="/assets/menu08_off.gif" /></a></li>
              <li><img src="/assets/menu09_on.gif" /></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="content_list">
      <p class="top_title"><a href="/home/index">HOME</a> &nbsp;> &nbsp;免责申明</p>
      <p class="content_ti"></p>
      <p class="content_timg"><img src="/assets/privacy_title.gif" /></p>
      <div class="privacy_text">
         1、版权： <br />
            A、此网址的所有内容和图表受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约的保护。crichina.com.cn对网站内容享有完整的著作权，未经其允许，不得以任何形式复制和采用。在内容和图表不作任何修改、保留性内容未做修改以及得到crichina.com.cn的许可的情况下，crichina.com.cn的网上材料可作为网外信息方面其他非商业性的用途。<br /> 
            B、申请使用crichina.com.cn内容的许可按特别批准原则进行；crichina.com.cn欢迎各方的申请；请把请求直接提交 给<a href="mailto:service@crichina.com.cn">service@crichina.com.cn</a><br />
             C、请勿擅自复制或采用crichina.com.cn所创造的用以制成网页的HTML。crichina.com.cn对其html享有著作权。同时 crichina.com.cn对其网址上的所有图标、图饰、图表、色彩、文字表述及其组合、版面设计、数据库均享有完全的著作权，对发布的信息均享有专有的发布和使用权，未经crichina.com.cn同意，不得擅自复制、使用或转载。 </p>
           <p>  2、 商标： <br />
            crichina.com.cn的商标属于crichina.com.cn所有。<br />
            crichina.com.cn上的crichina.com.cn合作者的商标属于合作者所有。 </p>
            <p> 3、 责任承担： <br />
            crichina.com.cn并无随时监视此网址，但保留对其实施实时监视的权利。对于他方输入的，不是crichina.com.cn发布的材料，crichina.com.cn概不负任何法律责任。应聘信息发布方必须对其存入简历中心的个人简历及材料的格式、内容的准确性和合法性独立承担一切法律责任。招聘信息的发布方对其在职位数据库公布的材料独立承担一切法律责任。 <br />
            crichina.com.cn不保证对某一种职位描述会有一定数目的使用者来浏览，也不保证会有一位特定的使用者来    浏览。对于其他网址链接在本网址的内容，crichina.com.cn概不负法律责任。 </p>
            <p> 4、 网站使用： <br />
            A.明确禁止条款： <br />
            crichina.com.cn只能用于合法目的，即个人寻找职业和雇主寻找雇员。crichina.com.cn明确禁止任何其他用途，所有使用者必须保证不用于下列任何一种用途：<br />
            (1). 在简历中心公布虚假的、不完整的或不准确的简历资料（包括以为他人寻找全职或兼职工作之目的发布的简历），公布不是简历的资料，如意见、通知、商业广告或其他内容。<br />
            (2). 本公司的竞争同行用此方法寻求与雇主的业务联络。 <br />
            (3). 擅自删除或修改任何其他个人或公司公布的资料。 <br />
            (4). 擅自打印、复制或使用有关雇员的任何个人资料或有关雇主的商业信息。未经同意，给公布信息 的个人或公司发电子邮件、打电话、寄信或进行其他任何形式的接触。 <br />
            B.网址安全规则： <br />
            禁止使用者破坏或企图破坏crichina.com.cn的安全规则，其中包括但不限于: <br />
            (1). 接触未经许可的数据或进入未经许可的服务器或帐户; <br />
            (2). 没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施； <br />
            (3). 企图干涉对用户及网络的服务，包括，并不限于，通过超载， &quot;邮件炸弹&quot;或&quot;摧毁&quot;等手段; <br />
            (4). 发送促销，产品广告及服务的E-mail； <br />
            (5). 伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪,crichina.com.cn将调查、干预此类 破坏行为的发生，并将与执法当局合作，起诉此类破坏行为的使用者。 <br />
            C.总则： <br />
            严禁出现下列三种情况： <br />
            (1). 违反任何现行法律法规； <br />
            (2). 侵犯他人的著作权及其他知识产权，侵害他人的商业机密或侵犯他人的隐私权等其他个人权利； <br />
            (3). 利用本网址传送、分发、储存属于诽谤、淫秽、威胁、辱骂性的材料，毁损他人材料。 <br /></p>
            <p> 5. 暂停与中止使用：<br />
            任何经crichina.com.cn确认已违反了网站使用规则的用户，将收到一份书面警告。在该用户同意以书面形式    表示不再有任何犯规行为时，crichina.com.cn有权决定是否给予其暂停使用的处理。但是，crichina.com.cn可以 不提出警告而马上暂停或终止对该用户的服务，如果crichina.com.cn认为确有其必要；而对屡犯者将立即受到    暂停使用或终止使用的处理。</p>
          <p>   6. 除外： <br />
            除了本网址在信息保密中提出的条款外，使用者理解并同意，crichina.com.cn在不公开姓名的情况下，可以为用户应聘或招聘的目的    向第三方提供综合性的资料。除非司法行政等公务需要，在未经本人同意的情况下，crichina.com.cn将不向任何    第三方公开用户相关资料。 </p>
           <p> 7. 风险分担： <br />
            用户使用本网址将承担一定风险： 本网址的材料按&quot;正如……的情况&quot;提供，crichina.com.cn对材料不作任何明示的或暗示的保证。crichina.com.cn不能保证材料的特殊目的不受阻挠或不出错误、不能保证错误一定能得到纠正，也不能保证本网址或制成本网址的材料不会含有病毒或其他有害成分。在涉及有关材料的使用或使用结果方面，crichina.com.cn对材料的正确性、准确性、可靠性及其他同时不作出任何保证或说明。用户(而不是crichina.com.cn)将承担因此而造成的一切必要的服务、修补和改正费用，除非现行的法律法规另有明文规定。 </p>
          <p>  8. crichina.com.cn保留随时修正本服务条款的权利。 </p>
          <p>警告： 使用crichina.com.cn网络时违反本条款将构成对crichina.com.cn权利的侵害，crichina.com.cn将保留采取一切法律  措施的权利。</p>
        </div>
    </div>
  </div>
  <p class="clear"></p>
  <div class="footer">
    <p class="footer_link"><a href="/infomation/contact">Contact us</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/infomation/affirms">Privacy Policy</a></p>
    <p class="copyright">COPYRIGHT CREEK&RIVER CO.,LTD. ALL RIGHTS RESERVED.　|　<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10203917号</a></p>
  </div>
</div>
</body>
</html>
