<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creek &amp; River</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<link href="/assets/perfect-scrollbar.css" rel="stylesheet">
<script src="/assets/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/assets/smartrollover.js" type="text/javascript"></script>
<script src="/assets/jquery.mousewheel.js"></script>
<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>


</head>
<body>
<div class="main">
  <div class="header">
    <p class="logo"><a href="/home/index"><img src="/assets/logo.png" /></a></p>
    <p class="top_img"><img src="/assets/top_img.png" /></p>
  </div>
  <div class="in_content">
    <div class="in_left">
      <div class="menu">
        <ul>
          <li><a href="#"><img src="/assets/left_nav1.gif" /></a>
            <ul>
              <li><a href="/home/service"><img src="/assets/menu01_off.gif" /></a></li>
              <li><a href="/users/personal"><img src="/assets/menu02_off.gif" /></a></li>
              <li><a href="/corporates/entrance"><img src="/assets/menu03_off.gif" /></a></li>
              <li><a href="/recruits/release"><img src="/assets/menu04_off.gif" /></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu02" style="margin-top:235px;">
        <ul>
          <li><a href="#"><img src="/assets/left_nav2.gif" /></a>
            <ul style="background:#6c060b; margin-top:2px;">
              <li><img src="/assets/menu05_on.gif" /></li>
              <li><a href="/infomation/speake"><img src="/assets/menu06_off.gif" /></a></li>
              <li><a href="/infomation/group"><img src="/assets/menu07_off.gif" /></a></li>
              <li><a href="/infomation/contact"><img src="/assets/menu08_off.gif" /></a></li>
              <li><a href="/infomation/affirms"><img src="/assets/menu09_off.gif" /></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="content_list">
    <p class="top_title"><a href="/home/index">HOME</a> &nbsp;> &nbsp;公司介绍</p>
      <p class="content_ti"></p>
      <p class="content_timg"><img src="/assets/about_title.gif" /></p>
      <div class="about_left" style="scrollbar-base-color:red;">
        <p>创河公司是1990念设立的创意工作者代理之先驱。作为创意工作者代理，驱动由中国、日本、韩国约150,000名创意工作者和约1,000家生产合作伙伴构成的创意网络，对应客户所有需求，奠定商务模式的基干。通过无线组合各种能力和制作潜力，对应日本乃至世界的创意需求。依托企业、开发、提供创意，致力于实现真正富饶的社会。</p>
          <p>什么是创意工作者？<br/>
         创意工作者主要是知识型劳动者，是能激发出创意灵感的高手和拥有特殊技能的专才。<br />
          创意工作者有其特殊性和不可替代性，他们不断创造新观念、新技术和新的创造性内容。<br />
          职业能力既来自于个人经验积累，也来自于个人灵感的迸发。<br />
          创意工作者是能够活跃于世界的职业种类。<br />
          创意工作者是机会绝对无法替代的职业种类。<br />
        创意工作者是蓄积知识产权的职业种类。</p>
      </div>
      <div class="about_right"><img src="/assets/about_img.gif" /></div>
    </div>
  </div>
  <p class="clear"></p>
  <div class="footer">
    <p class="footer_link"><a href="/infomation/contact">Contact us</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/infomation/affirms">Privacy Policy</a></p>
    <p class="copyright">COPYRIGHT CREEK&RIVER CO.,LTD. ALL RIGHTS RESERVED.　|　<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10203917号</a></p>
  </div>
</div>
</body>
</html>
