<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Creek &amp; River</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <script src="/assets/smartrollover.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <p class="logo"><a href="/home/index"><img src="/assets/logo.png" /></a></p>
        <p class="top_img"><img src="/assets/top_img.png" /></p>
      </div>
      <div class="in_content">
        <div class="in_left">

          <p>
          <b>education:</b>
          <%= @recruit.education%>
          </p>
        </div>
      </div>



      <p class="clear"></p>
      <div class="footer">
        <p class="footer_link"><a href="/infomation/contact">Contact us</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/infomation/affirms">Privacy Policy</a></p>
        <p class="copyright">COPYRIGHT CREEK&RIVER CO.,LTD. ALL RIGHTS RESERVED.　|　<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10203917号</a></p>
      </div>
    </div>
  </body>
</html>
